<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detailTitle</key>
		<array>
			<string>形体雕塑</string>
			<string>面部填充</string>
			<string>玻尿酸</string>
			<string>脂肪填充失败修复</string>
		</array>
		<key>title</key>
		<string>医美</string>
	</dict>
	<dict>
		<key>detailTitle</key>
		<array>
			<string>形体雕塑</string>
			<string>面部填充</string>
			<string>玻尿酸</string>
			<string>脂肪填充失败修复</string>
		</array>
		<key>title</key>
		<string>彩妆</string>
	</dict>
	<dict>
		<key>detailTitle</key>
		<array>
			<string>形体雕塑</string>
			<string>面部填充</string>
			<string>玻尿酸</string>
			<string>脂肪填充失败修复</string>
		</array>
		<key>title</key>
		<string>护肤</string>
	</dict>
	<dict>
		<key>detailTitle</key>
		<array>
			<string>形体雕塑</string>
			<string>面部填充</string>
			<string>玻尿酸</string>
			<string>脂肪填充失败修复</string>
		</array>
		<key>title</key>
		<string>时尚</string>
	</dict>
	<dict>
		<key>detailTitle</key>
		<array>
			<string>形体雕塑</string>
			<string>面部填充</string>
			<string>玻尿酸</string>
			<string>脂肪填充失败修复</string>
		</array>
		<key>title</key>
		<string>大健康</string>
	</dict>
	<dict>
		<key>detailTitle</key>
		<array>
			<string>形体雕塑</string>
			<string>面部填充</string>
			<string>玻尿酸</string>
			<string>脂肪填充失败修复</string>
		</array>
		<key>title</key>
		<string>母婴</string>
	</dict>
	<dict>
		<key>detailTitle</key>
		<array>
			<string>形体雕塑</string>
			<string>面部填充</string>
			<string>玻尿酸</string>
			<string>脂肪填充失败修复</string>
		</array>
		<key>title</key>
		<string>随机</string>
	</dict>
</array>
</plist>
